@import 'blue-red-theme.scss';

h1 {
	border-bottom: 1px solid mat-color($frc-app-accent, lighter);
}

div.spacing {
	height: 1em;
}

mat-card.one-line img {
	float: left;
	margin-right: 1em;
}

mat-card.two-line img {
	float: left;
	margin-right: 1em;
}

mat-card.one-line div.mat-h2 {
	line-height: 2em;
}