#center {
	margin: auto;
	padding: 2em;
	box-sizing: border-box;
	width: 100%;
	max-width: 40em;
}

h2 {
	display: block;
}

mat-card {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 2em;
}

mat-card:last-child {
	margin-bottom: 0;
}

mat-card-content {
	display: flex;
	flex-direction: column;
}