<app-centered-layout>
	<mat-card id='login-prompt'>
		<h2 class='mat-h2' *ngIf='status > Status.Login'>
			1. [COMPLETE]
		</h2>
		<h2 class='mat-h2' *ngIf='status == Status.Login'>
			1. Sign in with your Discord account
		</h2>
		<mat-card-content> <!-- *ngIf="(status == Status.Login) || (status == Status.SeperateLogin)" -->
			<p *ngIf="status == Status.Login">
				Click <a [href]='discordUrl'>here</a> to log in with Discord.
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card id='root'>
		<h2 class='mat-h2' *ngIf='status > Status.GettingData'>
			2. [COMPLETE]
		</h2>
		<form #infoForm='ngForm' (ngSubmit)='askForParentInfo()'>
			<h2 class='mat-h2' #formCheckbox *ngIf='status <= Status.GettingData'>
				2. Add your personal information
			</h2>
			<ng-container *ngIf='status == Status.GettingData'>
				<mat-card-content>
					<mat-form-field>
						<input matInput required placeholder='First Name' [(ngModel)]='data.firstName' name='firstName'>
					</mat-form-field>
					<mat-form-field>
						<input matInput required placeholder='Last Name' [(ngModel)]='data.lastName' name='lastName'>
					</mat-form-field>
					<mat-form-field>
						<input matInput required placeholder='Email Address' [(ngModel)]='data.emailAddress' name='email'>
					</mat-form-field>
					<mat-checkbox [(ngModel)]='data.sendEmails' name='sendEmails' id='emailConsent'>
						<span style='white-space: pre-wrap;'>I would like to receive emails about important news or upcoming events.</span>
					</mat-checkbox>
					<mat-form-field>
						<input matInput required placeholder='Phone Number' [(ngModel)]='data.phone' name='phone'>
					</mat-form-field>
					<mat-form-field>
						<mat-select required placeholder='Grade Level' [(ngModel)]='data.gradeLevel' name='grade'>
							<mat-option value='Freshman'>Freshman</mat-option>
							<mat-option value='Sophomore'>Sophomore</mat-option>
							<mat-option value='Junior'>Junior</mat-option>
							<mat-option value='Senior'>Senior</mat-option>
						</mat-select>
						<mat-hint>If you are registering during summer, pick the grade you will be going into.</mat-hint>
					</mat-form-field>
					<mat-form-field>
						<mat-select required placeholder='Area of Interest' [(ngModel)]='data.team' name='team'>
							<mat-option value='Design'>Design</mat-option>
							<mat-option value='Programming'>Programming</mat-option>
							<mat-option value='Prototyping'>Prototyping</mat-option>
							<mat-option value='Publicity'>Publicity</mat-option>
						</mat-select>
					</mat-form-field>
					<mat-form-field>
						<textarea matInput placeholder='Previous Experience' [(ngModel)]='data.experience' name='experience' 
						matTextareaAutosize matAutosizeMinRows='2' matAutosizeMaxRows='10'></textarea>
					</mat-form-field>
					<mat-form-field>
						<mat-select required placeholder='Shirt Size' [(ngModel)]='data.shirtSize' name='shirtSize'>
							<mat-option value='S'>Small</mat-option>
							<mat-option value='M'>Medium</mat-option>
							<mat-option value='L'>Large</mat-option>
							<mat-option value='XL'>Extra Large</mat-option>
						</mat-select>
					</mat-form-field>
				</mat-card-content>
				<div style='height: 1em'></div>
				<button mat-button type='submit' [disabled]='!infoForm.form.valid' class='mat-raised-button mat-accent' color='accent' >Submit</button>
			</ng-container>
		</form>			
	</mat-card>
	<mat-card id='root2'>
		<h2 class='mat-h2' *ngIf='status > Status.GettingParentData' #formCheckbox>
			3. [COMPLETE]
		</h2>
		<form #parentForm='ngForm' (ngSubmit)='submit()'>
			<h2 class='mat-h2' #formCheckbox *ngIf='status <= Status.GettingParentData'>
				3. Add a parent / guardian or emergency contact
			</h2>
			<ng-container *ngIf='status == Status.GettingParentData'>
				<mat-card-content>
					<mat-form-field>
						<input matInput required placeholder='First Name' [(ngModel)]='data.parent.firstName' name='parentFirstName'>
					</mat-form-field>
					<mat-form-field>
						<input matInput required placeholder='Last Name' [(ngModel)]='data.parent.lastName' name='parentLastName'>
					</mat-form-field>
					<mat-form-field>
						<input matInput required placeholder='Phone Number' [(ngModel)]='data.parent.phone' name='parentPhone'>
					</mat-form-field>		
					<mat-form-field>
						<input matInput required placeholder='Email Address' [(ngModel)]='data.parent.emailAddress' name='parentEmail'>
					</mat-form-field>
				</mat-card-content>
				<div style='height: 1em'></div>
				<button mat-button type='submit' [disabled]='!parentForm.form.valid' class='mat-raised-button mat-accent' color='accent'>Submit</button>
			</ng-container>
		</form>			
	</mat-card>
	<mat-card *ngIf='status == Status.Submitting'>
		<h2 class='mat-h2'>
			Submitting response...
		</h2>
	</mat-card>
	<mat-card>
		<h2 class='mat-h2'>
			4. Connect with the rest of the team
		</h2>
		<mat-card-content *ngIf='status > Status.Submitting'>
			<div style='height: 0.5em;'></div>
			<div>Congratulations, you are now part of the team! Here is some information to help you get started:</div>
			<div style='height: 1em;'></div>
			<app-contact-info></app-contact-info>
		</mat-card-content>
	</mat-card>
<app-centered-layout>