mat-card > mat-checkbox {
	pointer-events: none;
}

mat-icon {
	display: inline-block;
	vertical-align: baseline;
}

h2 {
	display: inline;
	vertical-align: bottom;
}

mat-card {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 2em;
}

mat-card:last-child {
	margin-bottom: 0;
}

mat-card-content {
	display: flex;
	flex-direction: column;
}

span.logo-and-info {
	display: flex;
	flex-direction: row;
}

img.logo {
	float: left;
	width: 4em;
	min-width: 4em;
	height: 4em;
	margin-right: 2em;
	display: block;
}

span.logo-info {
	display: inline-block;
	margin: auto;
}