<app-page-guard loadingMessage="Loading member..." [loaded]="!!member" [accessLevel]="AccessLevel.MEMBER" #guard>
</app-page-guard>
<app-centered-layout *ngIf="guard.show">
	<mat-card id='root'>
		<form *ngIf="(backend.pollAccessLevel() === AccessLevel.LEADER) || (backend.pollCurrentMember().emailAddress === member.emailAddress);else justDisplay"
			#infoForm='ngForm' (ngSubmit)='submit()'>
			<mat-card-content>
				<mat-form-field>
					<input matInput required placeholder='First Name' [(ngModel)]='member.firstName' name='firstName'>
				</mat-form-field>
				<mat-form-field>
					<input matInput required placeholder='Last Name' [(ngModel)]='member.lastName' name='lastName'>
				</mat-form-field>
				<mat-form-field>
					<input matInput required disabled placeholder='Email Address' [(ngModel)]='member.emailAddress' name='email'>
					<mat-hint>You must use the email address of the account you signed up with.</mat-hint>
				</mat-form-field>
				<mat-checkbox [(ngModel)]='member.sendEmails' name='sendEmails'>
					<span style='white-space: pre-wrap;'>I would like to receive emails about important news or upcoming events.</span>
				</mat-checkbox>
				<mat-form-field>
					<input matInput required placeholder='Phone Number' [(ngModel)]='member.phone' name='phone'>
				</mat-form-field>
				<mat-form-field>
					<mat-select required placeholder='Grade Level' [(ngModel)]='member.gradeLevel' name='grade'>
						<mat-option value='Freshman'>Freshman</mat-option>
						<mat-option value='Sophomore'>Sophomore</mat-option>
						<mat-option value='Junior'>Junior</mat-option>
						<mat-option value='Senior'>Senior</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field *ngIf="backend.pollAccessLevel() === AccessLevel.LEADER">
					<mat-select required placeholder='Team' [(ngModel)]='member.team' name='team'>
						<mat-option value='Design'>Design</mat-option>
						<mat-option value='Programming'>Programming</mat-option>
						<mat-option value='Prototyping'>Prototyping</mat-option>
						<mat-option value='Publicity'>Publicity</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field *ngIf="backend.pollAccessLevel() !== AccessLevel.LEADER">
					<mat-select required disabled placeholder='Team' [(ngModel)]='member.team' name='team'>
						<mat-option value='Construction'>Construction</mat-option>
						<mat-option value='Design'>Design</mat-option>
						<mat-option value='Programming'>Programming</mat-option>
						<mat-option value='Publicity'>Publicity</mat-option>
					</mat-select>
					<mat-hint>Only a leader can switch you from one team to another.</mat-hint>
				</mat-form-field>
				<mat-form-field>
					<textarea matInput placeholder='Previous Experience' [(ngModel)]='member.experience' name='experience' 
					matTextareaAutosize matAutosizeMinRows='2' matAutosizeMaxRows='10'></textarea>
				</mat-form-field>
				<mat-form-field>
					<input matInput required placeholder='Parent / Guardian First Name' [(ngModel)]='member.parent.firstName' name='parentFirstName'>
				</mat-form-field>
				<mat-form-field>
					<input matInput required placeholder='Parent / Guardian Last Name' [(ngModel)]='member.parent.lastName' name='parentLastName'>
				</mat-form-field>
				<mat-form-field>
					<input matInput required placeholder='Parent / Guardian Phone Number' [(ngModel)]='member.parent.phone' name='parentPhone'>
				</mat-form-field>		
				<mat-form-field>
					<input matInput required placeholder='Parent / Guardian Email' [(ngModel)]='member.parent.emailAddress' name='parentEmail'>
				</mat-form-field>
				<mat-form-field *ngIf="backend.pollAccessLevel() === AccessLevel.LEADER">
					<mat-select required placeholder='Access Level' [(ngModel)]='member.accessLevel' name='accessLevel'>
						<mat-option value='{{AccessLevel.LEADER}}'>Leader (unlimited read/write access.)</mat-option>
						<mat-option value='{{AccessLevel.MEMBER}}'>Member (limited read/write access.)</mat-option>
						<mat-option value='{{AccessLevel.RESTRICTED}}'>Restricted (almost no read/write access.)</mat-option>
					</mat-select>
				</mat-form-field>
				<div id="explanation" class="mat-typography" *ngIf="backend.pollAccessLevel() === AccessLevel.LEADER">
					<div class="can">+ Can edit their own personal information</div>
					<div class="can">+ Can join our Teamreach group</div>
					<ng-container *ngIf="member.accessLevel == AccessLevel.RESTRICTED">
						<div class="can">+ Can view our Google drive and its contents</div>
						<div class="cant">- Cannot view the administration folder</div>
						<div class="cant">- Cannot see other team members</div>
						<div class="cant">- Cannot request parts</div>
					</ng-container>
					<ng-container *ngIf="member.accessLevel == AccessLevel.MEMBER">
						<div class="can">+ Can view our Google drive and its contents</div>
						<div class="can">+ Can add, edit, and delete files in the folder for their sub-team</div>
						<div class="cant">- Cannot view the administration folder</div>
						<div class="can">+ Can view names, teams, email addresses of other members</div>
						<div class="cant">- Cannot view emergency contact details or phone numbers of members</div>
						<div class="can">+ Can request parts</div>
					</ng-container>
					<ng-container *ngIf="member.accessLevel == AccessLevel.LEADER">
						<div class="can">+ Can view and edit all files on our Google drive</div>
						<div class="can">+ Can view and edit all details of all team members</div>
						<div class="can">+ Can request parts</div>
					</ng-container>
				</div>
			</mat-card-content>
			<div style='height: 1em'></div>
			<button mat-button type='submit' [disabled]='!infoForm.form.valid || submitting' class='mat-raised-button mat-accent' color='accent' >{{(submitting) ?  "Applying Changes..." : "Apply Changes"}}</button>
		</form>
		<ng-template #justDisplay>
			<div class="centered"><img src="https://placeholder.net/placeholder.jpg"></div> <!-- TODO: Replace with actual profile picture. -->
			<div class="spacing"></div>
			<div class="mat-h2 centered">{{member.firstName.toUpperCase()}} {{member.lastName.toUpperCase()}}</div>
			<div class="mat-h3 centered">A {{member.gradeLevel}} on the {{member.team.toLowerCase()}} team.</div>
			<div class="mat-h3 centered">
				Email: 
				<a href="mailto:{{member.emailAddress}}">{{member.emailAddress}}</a>
			</div>
			<div class="mat-h3 centered">Previous experience:<br>{{member.experience}}</div>		
		</ng-template>	
	</mat-card>
</app-centered-layout>