<div class='logo-and-info'>
	<img class='logo' src="/assets/gears.svg">
	<span class='logo-info'>
		Meetings happen Wednesdays and Fridays after school in IDEA from 3:05-4:15, as well as on Mondays during the second half of 
		lunch. More days will be added to this schedule once the season officially starts, on January 6<sup>th</sup>. 
	</span>
</div>
<div style='height: 1em;'></div>
<div class='logo-and-info'>
	<img class='logo' src="/assets/teamReach.png">
	<span class='logo-info'>
		We use the TeamReach app for communication amongst our members. You can join our group using the group code 
		<strong>5669</strong>. This is the best place besides meetings to ask questions.
	</span>
</div>
<div style='height: 1em;'></div>
<div class='logo-and-info'>
	<img class='logo' src="/assets/googleDrive.svg">
	<span class='logo-info'>
		We use Google Drive to store drawings, designs, and other files related to the club. You can check out what we have in 
		it by going <a href="https://drive.google.com/open?id=1epAk56th7SwpM4cX-jl1eQyE2wFjymHJ">here</a>. Once you start working
		with the {{team}} team, you will be granted editing access to the {{team}} folder.
	</span>
</div>
<div style='height: 1em;'></div>
<div class='logo-and-info' *ngIf="showMembersLink">
	<img class='logo' src="/assets/members.png">
	<span class='logo-info'>
		You can check out who else is in the club by going to the members list <a routerLink="/private/members">here</a>. You can
		also click on members to view their email if you need to send them a message.
	</span>
</div>