<div class='logo-and-info'>
	<img class='logo' src="/assets/gears.svg">
	<span class='logo-info'>
		Meetings will be scheduled irregularly for the first semester. Everyone will be informed of the next meeting via Discord.
		Once the season starts, meetings will occur every day, sometimes on weekends. Meetings usually occur after school from
		3:15 to 4:15 after school in IDEA.
	</span>
</div>
<div style='height: 1em;'></div>
<div class='logo-and-info'>
	<img class='logo' src="/assets/discord.png">
	<span class='logo-info'>
		We use Discord for internal communication. Once you sign up, you will be added to the Discord server. However, you
		will have to wait for a club leader to verify your identity before being able to participate. (This is to prevent
		private data from being shown to people outside of Bosco.)
	</span>
</div>
<div style='height: 1em;'></div>
<div class='logo-and-info'>
	<img class='logo' src="/assets/googleDrive.svg">
	<span class='logo-info'>
		We will use Google Drive to store drawings, designs, and other files related to the club. Once it is set up, you will
		automatically be given permissions to view the files.
	</span>
</div>
<div style='height: 1em;'></div>
<div class='logo-and-info' *ngIf="showMembersLink">
	<img class='logo' src="/assets/members.png">
	<span class='logo-info'>
		You can check out who else is in the club by going to the members list <a routerLink="/private/members">here</a>.
	</span>
</div>
