:host {
	display: flex;
	flex-wrap: wrap;
	margin: -0.5em; /* To counteract the 0.5em margin of cards, so the margin only adds spacing internally. */
}

div.spacing {
	flex: 1 1 12em;
	/* Act like cards, but have no height */
	height: 0;
	margin: 0;
	padding-left: 24px;
	padding-right: 24px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}

:host.bigger div.spacing {
	flex: 1 1 20em;
}