:host {
	display: flex;
	flex-wrap: wrap;
	margin-left: -1em; /* To counteract the weird combination of 1em page padding and 1em card margin */
	margin-right: -1em;
}

:host /deep/ > * {
	margin: 1em;
	flex: 1;
	min-width: 20em;
}

div.spacing {
	height: 0;
	min-width: 25em;
	margin: 0;
}