<app-page-guard loadingMessage="Loading member list..." [loaded]="!!members" [accessLevel]="AccessLevel.MEMBER" #guard>
</app-page-guard>
<ng-container *ngIf="guard.show">
	<div id="action-box" *ngIf="backend.pollAccessLevel() === AccessLevel.LEADER">
		<a mat-button class="mat-raised-button mat-accent" href="/api/v1/members/exportXls">Download as .xls</a>
	</div>
	<ng-template #card let-member="member">
		<mat-card routerLink="/private/members/{{member.id}}" class="two-line grid-element">
			<mat-card-header>
				<img mat-card-avatar [src]="member.profilePicture" class="user-icon">
				<mat-card-title>{{member.firstName}} {{member.lastName}}</mat-card-title>
				<mat-card-subtitle>{{member.gradeLevel}}, {{member.team}} Team</mat-card-subtitle>
				<mat-icon *ngIf="(backend.pollAccessLevel() === AccessLevel.LEADER) || (backend.pollCurrentMember().id === member.id)">mode_edit</mat-icon>
				<mat-icon *ngIf="(backend.pollAccessLevel() === AccessLevel.MEMBER) && (backend.pollCurrentMember().id !== member.id)">visibility</mat-icon>
			</mat-card-header>
		</mat-card>
	</ng-template>
	<h1 class="mat-h1">Leaders</h1>
	<app-grid-layout>
		<ng-container *ngFor="let member of members"> 
			<ng-container *ngIf="member.accessLevel === AccessLevel.LEADER">
				<ng-container *ngTemplateOutlet="card;context:{member:member}"></ng-container>
			</ng-container>
		</ng-container>
	</app-grid-layout>
	<div class="spacing"></div>
	<h1 class="mat-h1">Members</h1>
	<app-grid-layout>
		<ng-container *ngFor="let member of members"> 
			<ng-container *ngIf="member.accessLevel === AccessLevel.MEMBER">
				<ng-container *ngTemplateOutlet="card;context:{member:member}"></ng-container>
			</ng-container>
		</ng-container>
	</app-grid-layout>
	<ng-container *ngIf="members.find(matchesAccessLevelLambda(AccessLevel.RESTRICTED))">
		<div class="spacing"></div>
		<h1 class="mat-h1">Unconfirmed Members</h1>
		<app-grid-layout>
			<ng-container *ngFor="let member of members"> 
				<ng-container *ngIf="member.accessLevel === AccessLevel.RESTRICTED">
					<ng-container *ngTemplateOutlet="card;context:{member:member}"></ng-container>
				</ng-container>
			</ng-container>
		</app-grid-layout>
	</ng-container>
</ng-container>