.role-text {
	display: inline-block;
	width: 80%;
	vertical-align: middle;
	height: 100%;
}

.edit-icon {
	display: inline-block;
	width: 17%;
	text-align: right;
	vertical-align: middle;
}

.clickable:hover {
	cursor: pointer;
}